#cont_width{
    width:100%;
}

#transparent_bg li a{
    background-color:#FFF;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color:#e9eef2;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color:#e9eef2;

}
.chkbtn{
    opacity: 1;
    background-color: #cccccc;
    width: 120px;
    height: 30px;
    border-right-width: 0px;
    margin: 0px;
    border: 0;
    padding: 0px;
    border-radius: 8px;
    border-color: transparent;
    background-color:#f80808;
    color:white;

}

#car_img{

}
#cart_box{
    height:auto;
    width:26%;
    background-color:#dededd;
}

#shade_basket_code{
    height: 35px;
    width: 100px;
    background-color: #F00;


}
#padding_no{


    padding-right: 0px;
    margin-top: 12px;
    width:10%;
}
#box_basket{
    width:435px;
    background-color:white;
    padding-right:10px;
    padding-left:10px;
    border: 2px solid #c8c2bf;
    padding-right:0px;
    padding-left:0px;
    opacity: 0.8;
}

#price_clr{
    color:#F00;
}
#Padding_none{
    padding-left:0px;
    padding-right:0px;
}
#dotted_line{

    border:2px;
    border-bottom-style: dotted;

}
#menu_sub{
dropdown {
    background:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    width:300px;
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

}